:root {
    --colorComponentes: rgb(247, 246, 246);
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(246, 240, 240);
}

nav {
    justify-content: center;
    position: fixed;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--colorComponentes);
    width: 100%;
}

nav img {
    width: 30px;
    height: 30px;
    max-width: 80px;
    max-height: 80px;
}

#navOptions {
    gap: 5%;
    display: flex;
    align-items: center;
}

#items {
    display: flex;
    flex-flow: column nowrap;
    gap: 25px;
}

.items-cards {
    background-color: var(--colorComponentes);
    display: flex;
    gap: 10px;
}

#articulo {
    display: flex;
    gap: 25px
}

#articulo section {
    width: 60%;
}

#articulo section h1 {
    margin-top: 10%;
}

aside {
    padding: 10px;
    background-color: var(--colorComponentes);
    width: 40%;
    margin-top: 5%;
    height: max-content;
}

#recomendations {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.recomendations-cards {
    display: flex;
    flex-flow: column nowrap;
}

#logo {
    position: absolute;
    right: 95%;
}

#promoCodeButton {
    color: blue;
    border-radius: 15%;
    background-color: rgb(159, 213, 227);

}